button{
  padding: 4px;
  background-color: aquamarine;
  color: brown;
  font-weight: bold;
  border-radius: 5px;
}

.green{
  width: 80px;
  height: 80px;
  background-color: green;
  color: white;
  margin: 5px;
}

.blue{
  width: 80px;
  height: 80px;
  background-color:blue;
  color: white;
  margin: 5px;
}

h2{
  color: blue;
}
